numpy
pandas
matplotlib
jupyter
jupyterlab-vim
scikit-learn
opencv-python-headless
lightning
ray[tune]
ray[default]
tqdm
boto3

--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
